[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
raffle = "Hvaz8KM81gTvnrYtEqYtbuTLJt7w2hBJRRRXgTXTN3E7"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"


[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
build-dev = "anchor build"
deploy-dev = "anchor run build-dev && anchor deploy --program-name raffle --provider.cluster https://solana-devnet.rpc.extrnode.com/4cf60043-ba4d-419e-b964-4f2d2535a845 --provider.wallet ./keypairs/update_authority.json  --program-keypair ./target/deploy/raffle-keypair.json"